/* COMO TRABAJO */

.maincomotrabajo {
    background-image: url(../img/backgrond.jpg);
    background-color: #f0eeae;
    background-size: cover;
    background-position: center bottom -160px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 2rem 10%;
    height: calc(100vh - 100px);
  }
  
  .titulotrabajo {
    display: flex;
    justify-content: center;
  
    h1 {
      color: rgb(255, 255, 255);
      font-weight: bold;
      background-color: #04094e;
    }
  }
  
  .contenedortrabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 2rem 0;
  }
  
  .carta1 {
    padding: 1rem;
    width: 300px;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    background: #04094e;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 0.4s ease;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }
  }
  
  .contcomotrabajo {
    text-align: center;
    padding: 1rem 0;
  }
  
  .contcomotrabajo h3 {
  color: #ffffff;
}

  .contcomotrabajo p {
    color: #ffffff;
  }

  .btncomotrabajo {
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1.5rem;
    background: rgb(190, 255, 38);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &:hover {
      color: #ffffff;
      background-color: rgb(2, 0, 123);
      transform: scale(1.1);
    }
  }
  
  /* COMO TRABAJO */
  