/* FOOTER */

.footer {
    background-color: #04094e;
    color: rgb(235, 248, 248);
    padding: 1.5rem 10%;
    font-size: 0.875rem;
    text-align: center;
  }
  
.footer div div p {
  color: #ffffff;
}

  .linksf {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
  
    &:hover {
      color: #fff;
    }
  }
  
  /* FIN DEL FOOTER */
  