/* PLANES */

.mainp {
    background-image: url(../img/backgrond.jpg);
    background-size: cover;
    background-position: center bottom -160px;
    background-repeat: no-repeat;
    background-color: #f0eeae;
    width: 100%;
    padding: 2rem 10%;
    height: calc(100vh - 100px);
  }
  
  .contenedorplanes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 2rem 0;
  }
  
  .card {
    padding: 1rem;
    width: 300px;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(122, 104, 96);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 0.4s ease;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }
  
    &:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
      transform: translateY(-3%);
    }
  }
  
  .contplanes {
    text-align: center;
    padding: 1rem 0;
  }
  
  .btnplanes {
    text-decoration: none;
    font-weight: 700;
    color: rgb(45, 66, 66);
    padding: 0.5rem 1.5rem;
    background: beige;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &:hover {
      color: #000;
      background-color: rgb(2, 0, 137);
      transform: scale(1.1);
    }
  }
  
  /* PLANES */
  